
body {
    font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #f5f5f5;
}

/* Style button using class*/
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

/* Style using html tag*/
h2 {
    text-align: center;
    font-size: 30px;
}


#newTask {
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

/* Style button using id*/
#addTask {
    font-size: 20px;
    color: #fff;
    background-color: #337ab7;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border: none;
}

/* Helper class that can be reused*/
.spacer {
    margin-bottom: 10px;
}

/* Select all list elements within the task <ul>*/

#tasks li {
    border-bottom: 1px dashed black;
    padding: 10px 0;
}

.deleteTask {
    float: right;
    cursor: pointer;
}
